@model TripGuide.Models.Class.Comment
@{
    ViewData["Title"] = "CommentFind";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Update Blog Page</h1>
@using (Html.BeginForm("CommentUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update Comment</button>
}


