@using TripGuide.Models.Class
@model List<Comment>
@{
    ViewData["Title"] = "CommentList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Comment List</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Email</th>
        <th>Comment</th>
        <th>Blog</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
      @foreach (var item in Model)
      {
           <tr>
               <td>@item.Id</td>
               <td>@item.UserName</td>
               <td>@item.Mail</td>
               <td>@item.Description</td>
               <td>@item.Blog.Title</td>
               <td><a href="/Admin/CommentDelete/@item.Id" class="btn btn-danger">Delete</a></td>
               <td><a href="/Admin/CommentFind/@item.Id" class="btn btn-warning">Update</a></td>
          </tr>
      }

</table>

